/* /Pages/Components/Calendar/NSCalendar.razor.rz.scp.css */
div.today[b-wzr8lbam8n] {
  /* background: palegreen; */
  border: 3px solid palegreen;
}

.holiday[b-wzr8lbam8n] {
  color: red;
}

.other-month[b-wzr8lbam8n] {
  background: whitesmoke;
  color: gray;
}

.triangle-left[b-wzr8lbam8n] {
  border-bottom: 0.4em solid transparent;
  border-right: 1em solid #0056b3;
  border-top: 0.4em solid transparent;
  display: inline-block;
  height: 0;
  width: 0;
}

.triangle-right[b-wzr8lbam8n] {
  border-bottom: 0.4em solid transparent;
  border-left: 1em solid #0056b3;
  border-top: 0.4em solid transparent;
  display: inline-block;
  height: 0;
  width: 0;
}

/* CSS Grid */

.nscal[b-wzr8lbam8n] {
  display: grid;
  margin: 0 auto;
  grid-template-areas:
    "calhead"
    "calbody";
  grid-template-rows: 6em auto;
  height: 90vh;
  line-height: normal;
  padding: 10px;
  width: 100%;
}

.nscal-head[b-wzr8lbam8n] {
  display: grid;
  grid-area: calhead;
  grid-template-areas:
    ".... head head head head head head ...."
    "prev nav  nav  nav  nav  nav  nav  next";
}

.nscal-month[b-wzr8lbam8n] {
  grid-area: head;
  text-align: center;
}

.nscal-nav[b-wzr8lbam8n] {
  padding: 1em;
}

.nscal-nav.nscal-year[b-wzr8lbam8n] {
  grid-area: nav;
  text-align: center;
}

.nscal-nav.nscal-prev[b-wzr8lbam8n] {
  grid-area: prev;
  text-align: left;
}

.nscal-nav.nscal-next[b-wzr8lbam8n] {
  grid-area: next;
  text-align: right;
}

.nscal-button-link[b-wzr8lbam8n] {
  background: none;
  border: none;
  color: #0056b3;
}

.nscal-button-link:hover[b-wzr8lbam8n] {
  background: none;
  text-decoration: underline;
}

.nscal-button-link:focus[b-wzr8lbam8n] {
  border: none;
  outline: none;
}

.nscal-body[b-wzr8lbam8n] {
  display: grid;
  grid-area: calbody;
  grid-template-columns: 3ch repeat(7, 1fr);
  grid-template-rows: 2em repeat(auto-fill, 7em);
}

.nscal-week-head[b-wzr8lbam8n] {
  border: 1px solid lightgrey;
  font-weight: bold;
  line-height: 2em;
  text-align: center;
}

.nscal-week-item[b-wzr8lbam8n] {
  vertical-align: middle;
}

.nscal-day-item[b-wzr8lbam8n] {
  border: 1px solid lightgrey;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2fr repeat(4, 1fr);
  padding: 5px;
}

.nscal-large-text[b-wzr8lbam8n] {
  display: inline-block;
  font-size: 1em;
  margin-left: auto;
}

.nscal-normal-text[b-wzr8lbam8n] {
  display: inline-block;
  font-size: 0.8em;
}

.nscal-text-right[b-wzr8lbam8n] {
  text-align: right;
}

.nscal-text-left[b-wzr8lbam8n] {
  text-align: left;
}

.nscal-day-head[b-wzr8lbam8n] {
  display: grid;
  grid-template-columns: auto 4ch;
}

.nscal-entry[b-wzr8lbam8n] {
  background: lightblue;
  border-radius: 3px;
  margin: 1px;
  padding: 0.1em;
}

/* Animations */

.today.pulse[b-wzr8lbam8n] {
  animation: pulse-b-wzr8lbam8n 1s;
}

@keyframes pulse-b-wzr8lbam8n {
 from {
  background: palegreen;
 }
 to {
   background: inherit;
 } 
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-2hc49juuam] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-2hc49juuam] {
    flex: 1;
}

.sidebar[b-2hc49juuam] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-2hc49juuam] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-2hc49juuam]  a, .top-row .btn-link[b-2hc49juuam] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-2hc49juuam] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-2hc49juuam] {
        display: none;
    }

    .top-row.auth[b-2hc49juuam] {
        justify-content: space-between;
    }

    .top-row a[b-2hc49juuam], .top-row .btn-link[b-2hc49juuam] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-2hc49juuam] {
        flex-direction: row;
    }

    .sidebar[b-2hc49juuam] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-2hc49juuam] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-2hc49juuam] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-i8guekm0yl] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-i8guekm0yl] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-i8guekm0yl] {
    font-size: 1.1rem;
}

.oi[b-i8guekm0yl] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-i8guekm0yl] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-i8guekm0yl] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-i8guekm0yl] {
        padding-bottom: 1rem;
    }

    .nav-item[b-i8guekm0yl]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-i8guekm0yl]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-i8guekm0yl]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-i8guekm0yl] {
        display: none;
    }

    .collapse[b-i8guekm0yl] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
