/* /Components/Calendar/NSCalendarComponent.razor.rz.scp.css */
div.today[calendar-scope] {
  border: 3px solid seagreen;
}

.holiday[calendar-scope] {
  color: red;
}

.other-month[calendar-scope] {
  background: whitesmoke;
  color: gray;
}

/* CSS Grid */

.ns-calendar[calendar-scope] {
  display: grid;
  margin: 0 auto;
  grid-template-areas:
    "calhead"
    "calbody";
  grid-template-rows: auto-fit auto;
  /* line-height: 1.2; */
  min-width: 50em;
  padding: 10px;
  width: 100%;
}

.calendar-head[calendar-scope] {
  display: grid;
  grid-area: calhead;
  grid-template-areas:
    ".... head ...."
    "prev nav  next";
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 8fr 6fr;
}

.calendar-month[calendar-scope] {
  grid-area: head;
  text-align: center;
}

.calendar-month h3[calendar-scope] {
  font-size: 1.2rem;
}

.calendar-nav[calendar-scope] {
  padding: 0.1em;
}

.calendar-nav button[calendar-scope] {
  font-size: 1rem;
  border-radius: 5px;
}

.calendar-nav.calendar-year[calendar-scope] {
  grid-area: nav;
  text-align: center;
}

.calendar-nav.calendar-prev[calendar-scope] {
  grid-area: prev;
  text-align: left;
}

.calendar-nav.calendar-next[calendar-scope] {
  grid-area: next;
  text-align: right;
}

.calendar-button-link[calendar-scope] {
  background: none;
  border: none;
  color: #0057b3;
}

.calendar-button-link:hover[calendar-scope] {
  background: none;
  background-color: #f0f5fa;
}

.calendar-button-link:focus[calendar-scope] {
  border: none;
  outline: none;
}

.calendar-body[calendar-scope] {
  display: grid;
  grid-area: calbody;
  grid-template-columns: 3ch repeat(7, minmax(6rem, 1fr));
  grid-template-rows: 2em repeat(auto-fill, minmax(12vh, minmax(0, 1fr)));
  /* grid-template-rows: 2em repeat(auto-fill, minmax(10em, 1fr)); */
  /* https://stackoverflow.com/questions/43311943/prevent-content-from-expanding-grid-items */
  /* min-height: 50em; */
  min-width: 0;
}

.calendar-week-head[calendar-scope] {
  align-items: center;
  border: 1px solid lightgrey;
  display: flex;
  height: 2em;
  justify-content: center;
}

.calendar-week-item[calendar-scope] {
  border: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.calendar-day-item[calendar-scope] {
  border: 1px solid lightgrey;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: minmax(0, 1fr) minmax(0, 2fr);
  height: 7.5em;
  /* grid-template-rows: minmax(0, 2fr) repeat(4, minmax(0, 1fr)); */
  /* grid-template-rows: minmax(0, 1fr) minmax(0, 2fr); */
  justify-items: stretch;
  min-width: 0;
  overflow-y: hidden;
  padding: 0.1rem;
  /* https://stackoverflow.com/questions/43311943/prevent-content-from-expanding-grid-items */
  /*height: 12vh; /* day-items overlap when resized */
  /* min-height: 6em; */
}

.normal-text[calendar-scope] {
  display: inline-block;
  font-size: 0.75rem;
}

.large-text[calendar-scope] {
  display: inline-block;
  font-size: 1rem;
  padding-left: auto;
}

.text-right[calendar-scope] {
  text-align: right;
}

.text-nowrap[calendar-scope] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.calendar-day-head[calendar-scope] {
  display: grid;
  gap: 0 0;
  grid-template-areas: "holiday day";
  grid-template-columns: minmax(0, 5fr) 1fr;
  grid-template-rows: 1fr;
  height: 2.4em;
  justify-items: stretch;
}

.calendar-day-head-holiday[calendar-scope] {
  grid-area: holiday;
  height: 2.4em;
  line-height: 1.2;
  overflow: hidden;
}

.calendar-day-head-holiday:hover[calendar-scope] {
  overflow: visible;
}

.calendar-day-head-holiday:hover ul[calendar-scope] {
  position: relative;
  z-index: 1;
}

.calendar-day-head-day[calendar-scope] {
  grid-area: day;
  justify-self: stretch;
}

ul.calendar-holiday-list[calendar-scope] {
  list-style-type: none;
  padding-left: 0;
}

ul.calendar-holiday-list>li[calendar-scope] {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 0.4ch;
}

ul.calendar-holiday-list-indicator> :first-child[calendar-scope]::after {
  /* Down-Pointing Small Triangle */
  content: "\25BE";
  text-shadow: gray 1px 1px;
}

ul.calendar-holiday-list-indicator:hover> :first-child[calendar-scope]::after {
  /* Minus Sign */
  content: "\2212";
}

.calendar-entries-container[calendar-scope] {
  display: grid;
  /* TODO: Should font-size be set here? rem or em? */
  font-size: 0.75rem;
  grid-row: 2 / 5;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 1.2rem);
  /* TODO: Should line-height be set here? */
  line-height: 1.2rem;
  /* A container with no entries must be the same height as one with entries. */
  min-height: 4.8rem;
}

.calendar-entry[calendar-scope] {
  align-items: center;
  background: lightblue;
  border-radius: 3px;
  cursor: default;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  line-height: inherit;
  margin: 1px;
  overflow: hidden;
  padding: 0 0.2rem;
}

.calendar-entry-text[calendar-scope] {
  flex-basis: 65%;
  flex-grow: 2;
}

.calendar-entry-duration[calendar-scope] {
  flex-shrink: 100;
  overflow: hidden;
}

/* Animations */

.today.pulse[calendar-scope] {
  animation: pulse-calendar-scope 1s;
}

@keyframes pulse-calendar-scope {
  from {
    background: seagreen;
  }

  to {
    background: inherit;
  }
}
/* /Components/Calendar/NSCalendarEntriesComponent.razor.rz.scp.css */
/*
Styles are defined in parent component's css. A custom CssScope is defined in the csproj file.
<ItemGroup>
  <None Update="Components/Calendar/*.razor.css" CssScope="calendar-scope" />
</ItemGroup>
*/
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-mizy7xa122] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-mizy7xa122] {
    flex: 1;
}

.sidebar[b-mizy7xa122] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-mizy7xa122] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-mizy7xa122]  a, .top-row[b-mizy7xa122]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-mizy7xa122]  a:hover, .top-row[b-mizy7xa122]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-mizy7xa122]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-mizy7xa122] {
        justify-content: space-between;
    }

    .top-row[b-mizy7xa122]  a, .top-row[b-mizy7xa122]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-mizy7xa122] {
        flex-direction: row;
    }

    .sidebar[b-mizy7xa122] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-mizy7xa122] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-mizy7xa122]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-mizy7xa122], article[b-mizy7xa122] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-b8uk4k0g34] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-b8uk4k0g34] {
    min-height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-b8uk4k0g34] {
    font-size: 1.1rem;
}

.bi[b-b8uk4k0g34] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-b8uk4k0g34] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-b8uk4k0g34] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-b8uk4k0g34] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.bi-calendar3-nav-menu[b-b8uk4k0g34] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-calendar3' viewBox='0 0 16 16'%3E%3Cpath d='M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857z'/%3E%3Cpath d='M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2'/%3E%3C/svg%3E");
}

.nav-item[b-b8uk4k0g34] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-b8uk4k0g34] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-b8uk4k0g34] {
        padding-bottom: 1rem;
    }

    .nav-item[b-b8uk4k0g34]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-b8uk4k0g34]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-b8uk4k0g34]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-b8uk4k0g34] {
        display: none;
    }

    .collapse[b-b8uk4k0g34] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-b8uk4k0g34] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/Binding.razor.rz.scp.css */
select[b-hheqy1glwb] {
    height: 14vh;
    width: 12vw;
}

.select-container[b-hheqy1glwb] {
    display: grid;
    grid-template-areas: "left center right";
    grid-template-columns: auto 4vw auto;
    justify-content: center;
    width: 30vw;
}

#left-column[b-hheqy1glwb] {
    grid-area: left;
}

#button-column[b-hheqy1glwb] {
    align-self: center;
    grid-area: center;
    justify-self: center;
    text-align: center;
}

#right-column[b-hheqy1glwb] {
    grid-area: right;
}
