@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.
<p></p>
<p>
    Just trying Blazor WebAssembly and adding some random stuff to the default template.
</p>
@* <SurveyPrompt Title="How is Blazor working for you?" /> *@
