@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop
@using System.Globalization

<div class="row g-3 align-items-center">
  <div class="col-auto fs-6">
    <label for="culture-select" class="col-form-label col-form-label-sm">@Localizer[Language]:</label>
  </div>
  <div class="col-auto fs-6">
    <select id="culture-select" class="form-select form-select-sm" @bind="Culture">
        @foreach (var culture in cultures)
        {
            <option value="@culture">@culture.DisplayName</option>
        }
    </select>
  </div>
</div>

@code {
    public const string Language = "language";

    [Inject]
    public IStringLocalizer<CultureSelector> Localizer { get; set; }

    [Inject]
    public NavigationManager NavManager { get; set; }

    [Inject]
    public IJSRuntime JSRuntime { get; set; }

    CultureInfo[] cultures = new[]
    {
        new CultureInfo("en-US"),
        new CultureInfo("sv-SE")
    };

    CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                var js = (IJSInProcessRuntime)JSRuntime;
                js.InvokeVoid("blazorCulture.set", value.Name);

                NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
            }
        }
    }
}
