@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop
@using System.Globalization

<strong>@Localizer[Language]:</strong>

<select class="form-control" @bind="Culture" style="width:300px; margin-left:10px;">
	@foreach (var culture in cultures)
	{
		<option value="@culture">@culture.DisplayName</option>
	}
</select>

@code {
    public const string Language = "language";

    [Inject]
    public IStringLocalizer<CultureSelector> Localizer { get; set; }

    [Inject]
    public NavigationManager NavManager { get; set; }

    [Inject]
    public IJSRuntime JSRuntime { get; set; }

    CultureInfo[] cultures = new[]
    {
        new CultureInfo("en-US"),
        new CultureInfo("sv-SE")
    };

    CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                var js = (IJSInProcessRuntime)JSRuntime;
                js.InvokeVoid("blazorCulture.set", value.Name);

                NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
            }
        }
    }
}
