div.today {
  /* background: palegreen; */
  border: 3px solid palegreen;
}

.holiday {
  color: red;
}

.other-month {
  background: whitesmoke;
  color: gray;
}

.triangle-left {
  border-bottom: 0.4em solid transparent;
  border-right: 1em solid #0056b3;
  border-top: 0.4em solid transparent;
  display: inline-block;
  height: 0;
  width: 0;
}

.triangle-right {
  border-bottom: 0.4em solid transparent;
  border-left: 1em solid #0056b3;
  border-top: 0.4em solid transparent;
  display: inline-block;
  height: 0;
  width: 0;
}

/* CSS Grid */

.nscal {
  display: grid;
  margin: 0 auto;
  grid-template-areas:
    "calhead"
    "calbody";
  grid-template-rows: 6em auto;
  height: 90vh;
  line-height: normal;
  padding: 10px;
  width: 100%;
}

.nscal-head {
  display: grid;
  grid-area: calhead;
  grid-template-areas:
    ".... head head head head head head ...."
    "prev nav  nav  nav  nav  nav  nav  next";
}

.nscal-month {
  grid-area: head;
  text-align: center;
}

.nscal-nav {
  padding: 1em;
}

.nscal-nav.nscal-year {
  grid-area: nav;
  text-align: center;
}

.nscal-nav.nscal-prev {
  grid-area: prev;
  text-align: left;
}

.nscal-nav.nscal-next {
  grid-area: next;
  text-align: right;
}

.nscal-button-link {
  background: none;
  border: none;
  color: #0056b3;
}

.nscal-button-link:hover {
  background: none;
  text-decoration: underline;
}

.nscal-button-link:focus {
  border: none;
  outline: none;
}

.nscal-body {
  display: grid;
  grid-area: calbody;
  grid-template-columns: 3ch repeat(7, 1fr);
  grid-template-rows: 2em repeat(auto-fill, 7em);
}

.nscal-week-head {
  border: 1px solid lightgrey;
  font-weight: bold;
  line-height: 2em;
  text-align: center;
}

.nscal-week-item {
  vertical-align: middle;
}

.nscal-day-item {
  border: 1px solid lightgrey;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2fr repeat(4, 1fr);
  padding: 5px;
}

.nscal-large-text {
  display: inline-block;
  font-size: 1em;
  margin-left: auto;
}

.nscal-normal-text {
  display: inline-block;
  font-size: 0.8em;
}

.nscal-text-right {
  text-align: right;
}

.nscal-text-left {
  text-align: left;
}

.nscal-day-head {
  display: grid;
  grid-template-columns: auto 4ch;
}

.nscal-entry {
  background: lightblue;
  border-radius: 3px;
  margin: 1px;
  padding: 0.1em;
}

/* Animations */

.today.pulse {
  animation: pulse 1s;
}

@keyframes pulse {
 from {
  background: palegreen;
 }
 to {
   background: inherit;
 } 
}